@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Overlock&display=swap');
 
body{
    background-color: #F9D195;
    font-family: "monaco", monospace;
    box-sizing: border-box;
    margin: 0;
    width: auto;
}
h1 {
  text-align: center;
}

.Logo{
    display: flex;
}

.Logo_img{
    width: 27%;
    height: 27%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

nav {
  display: center;
  align-items: center;
  margin-top: 0;
}
.LoginLogo {
  width: 100%;
  height: 50px;
}

.CartLogo {
    width: 100%;
    height: 65px;
}

button {
  font-family: 'Overlock';
  font-size: 25px;
  margin: 10px;
  position: relative;
  padding: 8px 60px;
  font-weight: 200;
  border: 1px solid paleturquoise;
  background-color: white;
}
.button-container {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

button.current{
  background-color: gray;
  color: white;
  cursor: auto;
  
}

.button-container .current {
  cursor: auto;
}

button:hover {
  background-color: gray;
  transform: scale(1.0);
  cursor: pointer;
}

.button-link:hover {
  transform: scale(1.1);
}
.button-link img {
  transition: transform 0.3s; 
}

hr {
  border: none; /* Remove the default border */
  height: 2px; /* Set the height of the line */
  background-color: white; /* Set the background color of the line */
  margin: 0px auto; /* Add margin above and below the line for spacing */
  padding: 0.5px;
  width: 99%;
}

.background-image {
  width: 100%; 
  height: 500px; 
  filter: brightness(60%);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    position: relative;
  }
  
.image-button:hover {
   background-color: gray;
   transform: scale(1.0);
   cursor: pointer;
   color: white
}


.image-button {
  background-color: white; 
  color: black; 
  border: 1%;
  padding: 10px 50px;
  position: absolute; 
  top: 55%;
  left: 41%;
  display: flex;
  cursor: pointer;
}
.text-overlay {
  position: absolute; 
  top: 38%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 0px; 
  text-align: center;
}
.text-overlay p{
  margin: 0; 
  padding: 0; 
}
.image-text {
  color: white; 
  font-size: 75px; 
  text-align: center; 
  font-family: 'Covered by Your Grace';
}
.images-text {
  color: white; 
  font-size: 25px; 
  text-align: center; 
  font-family: 'Overlock';
}
.image-text-menu,
.image-text-about,
.image-text-contact{
  color: white; 
  font-size: 100px; 
  text-align: center; 
  letter-spacing: 5px;
  font-family: 'Covered by Your Grace';
}
.text-overlay-menu,
.text-overlay-about,
.text-overlay-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
}

.imagebox {
  display: flex;
  justify-content: center; /* Horizontally center the child elements */
  align-items: center; /* Vertically center the child elements */
}

h3 {
  font-family: 'Covered by Your Grace';
  font-size: 30px;
  word-break: break-all;
  letter-spacing: 5px;
  margin-top: 2%;
}
.content p {
  font-family: 'Overlock';
  font-size: 20px;
  text-align: center;
  padding-left: 2%;
  margin-left: 0%;
  margin-top: -5%;
}
.content img {
  border: 4px solid #775118;
}

.content {
  margin: 10px;
  padding: 10px;
}

.column {
  float: left;
  text-align: center;
  width: 33%;
  margin-right: 0%;
  display: flex;
  box-sizing: border-box;
}

.background img {
  width: 100%;
  height: auto;
}
/* Footer */

.Footer {
  margin-top: 2%;
}

.CupcakeLogo {
  margin-left: 1%;
  margin-top: 1%;
}

.CupcakeLogo img{
  position: absolute;
  width: 7%;
  height: auto;
  margin-left: 15px;
  margin-right: auto;
  margin-top: -122px;
}

.CupcakeLogo p {
  position: absolute;
  font-size: 20px;
  text-align: center;
  margin-left: 51%;
  margin-right: auto;
  margin-top: -54px;
  font-family: 'Overlock'
}

.Design img {
  width: 98%;
  height: auto;
  margin-left: 2%;
  margin-right: auto;
  margin-top: 5px;
}
.Icecup_img {
  width: 8%;
  height: 9%;
  margin-left: -150px;
  margin-right: auto;
  margin-top: -15px;
}
.Icecuptext {
  font-size: 20px;
  text-align: center;
  margin-left: -150px;
  margin-right: auto;
  margin-top: -10px;
  font-family: 'Overlock'
}
.facebook_img {
  width: 28px;
  height: 28px;
  margin-left: -150px;
  margin-right: auto;
  margin-top: -15px;
}
.viewinthemap {
  text-align: center;
  margin-left: 145px;
  margin-right: auto;
  margin-top: -50px;
}
.viewinthemap a {
  color: inherit;
}

.FacebookLogo:hover {
  transform: scale(1.1);
}
.FacebookLogo img {
  transition: transform 0.3s; 
} 